* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  padding: 0 50px;
}

.home_card-list_container {
  width: 75%;
}

.card_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
}

.cart_bar {
  width: 25%;
  position: fixed;
  right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.cart_bar_list {
  height: 55vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 8px;
}

.cart_bar_list::-webkit-scrollbar-thumb {
  background: rgb(133, 133, 133, 0.8);
  border-radius: 8px;
}

.cart_bar_list::-webkit-scrollbar {
  width: 5px;
}


.button_container {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.bonif_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}

/* ---------------------- */

.home_container {
  display: flex;
  flex-direction: row;
}

.buttons_title_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
}

.buttons_users {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* ---------------------- */

.card {
  min-width: 300px;
  margin-bottom: 50px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
}

/* ---------------------- */

.shop_card {
  width: 300px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.shop_card_image {
  max-width: 150px;
  height: 150px;
}

.shop_card_button {
  width: 100px;
  height: 30px;
  background-color: rgb(252, 53, 53);
  border-radius: 8px;
  border: none;
}

.shop_card_name,
.shop_card_price {
  margin: 10px 0;
}

/* ---------------------- */

.global_button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background-color: blueviolet;
  margin: 10px;
}

.finish {
  height: 40px;
  background-color: rgb(0, 184, 15);
}

.card_add_product {
  width: 50px;
  height: 30px;
  background-color: blueviolet;
}

.clear {
  height: 40px;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: rgb(189, 0, 0);
}

.config {
  background-color: rgb(53, 53, 53, 0.8);
  border: solid 1px rgb(119, 119, 119);
}
