* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  min-height: 100vh;
  border: solid 2px white;
  padding: 0 50px;
}

.home {
  border: solid 2px white;
}

.home_card-list_container {
  width: 75%;
}

.card_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
  border: solid 2px white;
}

.cart_bar {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  border: solid 2px white;
}

.cart_bar_list {
  height: 60vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  border: solid 2px white;
  border-radius: 8px;
}

.button_container {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 20px;

}

.home_container {
  display: flex;
  flex-direction: row;
}

.card {
  min-width: 300px;
  height: 150px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: solid 2px white;
}

.shop_card {
  width: 300px;
  height: 150px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: solid 2px white;
}

.global_button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background-color: blueviolet;
}
